@import url("../app.css");

main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    background-color: var(--background-blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

img {
    z-index: 1;
    width: 250px;
    height: 60px;
    margin: 100px 0;
}

.admin_login {
    padding: 30px;
    background-color: var(--background-white);
    border-radius: 20px;
    width: 25%;
}

